@import 'variable';
@import 'mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font-family;

}
body{
    a{
        text-decoration: none;
        color: black
    }
}



// google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
//google fonts
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');


.home-main-nav {
    .home-main-nav {
        background-color: $secondary-bg-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        // border: 1px solid black;

        .logo-box {
            img {
                max-width: 100px;
                transform: scale(1.5);
            }
        }

        .middle-box {
            .middle-box-ul {
                display: flex;
                align-items: center;
                justify-content: center;
                // gap: 1.5rem;
                list-style-type: none;
                margin-bottom: 0;
                font-weight: 500;
                font-size: 18px;

                li {
                    // border: 1px solid black;
                    padding: 0.4rem 2rem;
                    border-radius: 0.5rem;
                    transition: all 0.5s ease;

                    i {
                        font-size: 12px;
                        font-weight: bold;
                    }

                    &:hover {
                        background-color: $primary-bg-color;

                        i {
                            transform: rotate(360deg);
                        }
                    }
                }

                .drop-down-li {
                    &:hover {
                        .visible-on-hover {
                            display: block;
                        }
                    }

                    .visible-on-hover {
                        display: none;

                        .home-nav-middle-li-dropdown {
                            background-color: $secondary-bg-color;
                            transition: all 1s ease;
                            position: absolute;
                            top: 4rem;
                            z-index: 9;
                            border-bottom: 1px solid black;
                            width: 100%;
                            right: 0;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            padding: 3rem 2rem;

                            ul {
                                list-style-type: none;
                            }
                        }
                    }
                }
            }
        }

        .right-box {
            ul {
                display: flex;
                align-items: center;
                gap: 2.5rem;
                list-style-type: none;
                margin-bottom: 0;
                font-size: 18px;

            }

            .offcanvas {
                .offcanvas-header {
                    padding: 5px 1rem;
                    border-bottom: 1px solid grey;
                }
            }
        }

        a {
            text-decoration: none;
            color: black;
        }
    }
    .mobile-menu{
        display: none;
    }
}

.yours-vibes-main {
    // border: 1px solid black;
    background-color: #efebf0;
    padding: 2rem 1rem;

    .first-heading {
        padding: 3rem;

        h2 {
            font-size: 3rem;
            font-weight: 600;
            font-family: $secondary-font-family;
            text-align: center;
            color: #1086ae;
        }
    }

    .images-section-vibe {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;

        a {
            text-decoration: none;
            color: black;
        }

        .section-vibe-main-box {

            .img-box-main {
                // padding: 0.5rem;
                height: 525px;
                width: 393px;
                transition: all 0.2 ease;
                overflow: hidden;

                &:hover {
                    img {
                        transform: scale(1.1);
                        filter: opacity(80%);
                    }
                }

                img {

                    transition: all 0.5s ease;
                    height: 525px;
                    width: 393px;

                }


            }

            .vibe-img-text {
                border-radius: 1rem;
                padding: 0.5rem;
                padding-left: 2px;


                &:hover {
                    background-color: rgba(128, 128, 128, 0.071);

                    i {
                        transform: translate(20px) scale(1.2);
                        color: $secondary-text-color ;
                    }
                }

                p {
                    margin-bottom: 0;
                    font-size: 1.5rem;
                    font-family: $secondary-font-family;

                    i {
                        transition: all 0.4s ease-in-out;
                    }

                }

                .vibe-text-1 {
                    font-weight: 600;
                    font-size: 2rem;
                    color: $secondary-text-color;


                }
            }
        }
    }
}

.new-arrival-section-main {
    background-color: $third-bg-color;
    padding: 3rem 0.5rem;
    // max-height: 100vh;

    .new-arrival-heading {
        text-align: center;
        padding: 2rem;

        h2 {
            font-size: 3.5rem;
            font-family: $secondary-font-family;
            font-weight: 600;
            color: $primary-text-color;
        }
    }
    .hidden {
        display: none;
    }
    
    .new-arrival-main-new-row{
        display: flex;
        flex-direction: row;
    }
    .arrival-ul{
        ul{
            // border: 1px solid black;
            padding: 1rem ;
            display: flex;
           justify-content: center;
           gap: 5rem;
           list-style-type: none;
           li{
            font-size: 18px;
            font-weight: 600;
            border-bottom: 3px solid transparent;
            transition: all 0.5s ease;

          
            &:hover{
                border-bottom: 3px solid black;
            }
         
            
           } 
           .arrival-first-li{
            &:focus{
                .new-arriv-main-row{
                    display: none;
                }
            }
           }
        }
    }

    .new-arriv-main-row {
        display: flex;
        gap: 2rem;

        .new-arriv-main-box {
            position: relative;

            .heart-icon {
                right: 1.2rem;
                text-align: end;
                position: absolute;
                top: 1rem;

                i {
                    font-size: 1.5rem;
                    // font-weight:500;
                    color: white;
                }
            }

            .new-arriv-img-text-box {
                padding: 1rem;
                padding-left: 0;

                p {
                    margin-bottom: 8px;
                    font-size: 18px;

                    .buy-now-btn {
                        @include button;
                        margin-left: 2rem;

                    }
                }
            }

        }
    }
}

.star-section-main {
    padding: 3rem 0.5rem;

    .wedding-edit-heading-main {
        padding: 2rem;

        h2 {
            font-family: $secondary-font-family;
            font-size: 3rem;
            text-align: center;
            font-weight: 600;
        }

    }

    .wedding-edit-main-row {
        display: flex;
        gap: 2rem;
        justify-content: center;

        .wedding-edit-main-box {

            .edit-container {


                .img-box-main {
                    max-width: 280px;
                    max-height: 350px;
                    min-width: 260px;
                    min-height: 300px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                    }
                }

                .text-box-main {
                    // padding: 2rem;
                    text-align: center;

                    p {
                        margin-bottom: 0;
                        font-size: 2rem;
                        text-transform: capitalize;
                        font-family: $secondary-font-family;
                    }
                }
            }

        }
    }
}

.kids-collection-main {
    border-color: $third-bg-color;

    img {
        max-height: 80vh;
        width: 100%;
        // position: fixed;
    }

    button {
        position: relative;
        bottom: 5rem;
        left: 40%;
        padding: 0.3rem 2rem;
        border-radius: 1rem;
        background-color: goldenrod;
        border: none;
    }

}

.call-section-main {
    background-color: $third-bg-color;
    position: relative;
    top: -3rem;
    padding: 4rem 0rem;

    .call-text-main {
        padding: 4rem 3rem;

        .call-text-1 {
            font-size: 4rem;
            font-family: $secondary-font-family;
            font-weight: 600;
        }

        .call-text-2 {
            font-weight: 500;
        }

        button {
            margin: 2rem;
            width: 100%;
            margin-left: 0;
            background-color: goldenrod;
            border: none;
        }
    }

    .call-section-main-img {
        height: 100%;
        // border: 1px solid black;
        text-align: center;

        img {
            width: 100%;
        }
    }
}

.home-footer-main {
    position: relative;
    background-color: $secondary-bg-color;

    // border: 1px solid black;
    .logo-main {
        // border: 1px solid black;
    }

    .suscribe-box-main {
        align-items: center;
        height: 100%;
        display: flex;
        align-items: center;

        p {
            margin-bottom: 0;
            font-size: 1.5rem;
            font-weight: 500;
        }

        input {
            padding-left: 1rem;
            border-radius: 1rem;
            border: 1px solid black;
        }
    }

    .footer-main-row {
        display: flex;
        justify-content: space-between;

        .footer-main-column {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 2rem;
            min-width: 20%;

            ul {
                list-style-type: none;

                li {
                    padding: 5px;
                }
            }

            .footer-column-first-li {
                padding: 1rem 0rem;
                font-size: 18px;
                font-weight: 600;
            }
        }

    }

    .footer-bottom-row {
        padding: 0.5rem;

        p {
            text-align: center;
            margin-bottom: 5px;
        }
    }
}


//media query
//for mobile width
@media only screen and (min-width:0px) and ( max-width:576px){
    body{
        overflow-x: hidden;
    }
.home-main-nav .home-main-nav .middle-box {
    display: none;
}
.home-main-nav .home-main-nav{
    .right-box{
       .nav-right-li{
        display: none;
       }
       .nav-right-last-li{
        display: block !important;
       }
    }
}
.home-main-nav{
   
   
    .mobile-menu{
        display: block;
    }
}

.yours-vibes-main {
    padding: 0rem;
}
.yours-vibes-main .first-heading {
    padding: 0rem;
}
.yours-vibes-main .images-section-vibe{
    flex-wrap: wrap;
}

.yours-vibes-main .images-section-vibe .section-vibe-main-box .img-box-main img {
    height: auto;
    width: 250px;
}

.yours-vibes-main .images-section-vibe .section-vibe-main-box .img-box-main {
    height: auto;
    width: 250px;
}
.new-arrival-section-main .new-arriv-main-row {
    flex-wrap: wrap;
}
.star-section-main .wedding-edit-main-row{
    flex-wrap: wrap;
}
.call-section-main .call-text-main{
    padding: 0;
}
.call-section-main .call-text-main .call-text-1{
    font-size: 2.1rem;
}
// .call-section-main .call-text-main .call-text-1{
//     flex-wrap: wrap;
// }
.home-footer-main .footer-main-row {
    flex-wrap: wrap;
}
html{
    overflow-x: hidden;
}
.home-main-nav .home-main-nav .logo-box img{
    transform: none;
    max-height: 100px;
}
.new-arrival-section-main .arrival-ul {
    gap: 2rem;
    
}
.new-arrival-section-main {
    padding: 2rem 0.5rem;
}
.home-footer-main .suscribe-box-main p {
    font-size: 1rem;
}
}